.beast-anim {
    animation-duration: 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: both;
    animation-direction: normal;
    
    &.infinite{
        animation-iteration-count: infinite;        
    }
}

.beast-debug {
    border: 1px solid rgba(200, 100, 100, 0.5);

    &.viewport {
        position: fixed !important;
        background: rgba(200, 50, 100, 0.5);
        border: none;
        &.H{
            width: 98vw;
            height: 1px;
            min-height: 1px;
        }
        &.V{
            top: 0;
            width: 1px;
            min-width: 1px;
            height: 100vw;
        }
    }



}

@import "animations/*/**";
